* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #8a8f8b;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 80px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.auth-buttons button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: space-around;
    margin: 40px;
}

.contact-form, .map {
    width: 45%;
}

.contact-form form {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #a29999;
}

.contact-form button {
    background-color: #4a90e2;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.map img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #c8ccd0;
    color: white;
    padding: 20px;


}

.footer-content {
    display: flex;
    justify-content: space-around;
    
}

.footer-section h3 {
    margin-bottom: 10px;
    
}

.footer-section ul {
    list-style: none;
   
}

.footer-section ul li {
    margin-bottom: 5px;
 
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 14px;
}